<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>КРОМО "Магистр"</title>
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="styles/reset.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet" />
</head>

</html>

<body>
  <header>
    <div class="header_wrapper">
      <div class="hero">
        <h1 class="logo_text">КРОМО УОДЦ "Магистр"</h1>
        <div class="contacts">
          <div class="contacts_info">
            <img src="image/location.svg" alt="location" class="hero_img" />
            <p>30500, г.Курск, ул.Радищева, 33, ауд. 36</p>
          </div>
          <div class="contacts_info">
            <img src="image/phone.svg" alt="phone number" class="hero_img" />
            <p>51-39-13</p>
          </div>
          <div class="contacts_info">
            <img src="image/mail.svg" alt="e-mail" class="hero_img" />
            <p>kromo-magistr@mail.ru</p>
          </div>
        </div>
        <button class="fidback">Оставить заявку</button>
      </div>
      <hr size="3" color="black" width="30%" />
      <div class="menu">
        <img src="image/magistrlogo.svg" alt="Логотип магистра" class="logo_img" />
        <ul class="menu_list">
          <il><a href="#">О магистре</a></il>
          <il><a href="">Комплектование отрядов</a></il>
          <il><a href="">Новости</a></il>
          <il><a href="">Песенник</a></il>
          <il><a href="">Контакты</a></il>
          <il><a href="">ВКонтакте</a></il>
          <il><a href="">СОЦ им.В.Терешковой</a></il>
        </ul>
      </div>
    </div>
  </header>

  <section class="photo" style="display: flex; justify-content: center;">
    <img src="image/fonphoto.jpg" alt="Общее фото"
      style="width: 1920px; height: 700px; position: absolute; z-index: -1" />
    <button class="in_left"><img src="image/arrow-in-left.svg" alt="arrow-in-left" /></button>
    <div class="info" style="width: 440px; height: 560px;">
      <p style="background-color: rgba(0, 0, 0, 0.30); color: white; font-size: 40px; padding: 15px 30px;"><b> Набор на
          летнюю смену в КРОМО УОДЦ “Магистр”.
          Успей оставить заявку!</b></p>
      <button style="background-color: #5781ab; color: white; padding: 15px 30px; margin-top: 115px;">Подробнее</button>
    </div>
    <button class="in_right"><img src="image/arrow-in-right.svg" alt="arrow-in-right" /></button>
  </section>
  <section class="second_section" style="display: flex; justify-content: center; gap: 190px; margin-bottom: 150px;">
    <div style="width: 640px; height: 405px; border: 5px solid #5781ab; margin-top: 190px;">
      <span style=" 
      text-align: center;
      width: 540px;
      height: 60px;
      position: absolute;
      margin: -30px 50px ;
      font-size: 48px;
      color: #000;
      background-color: #fff;
      ">КРОМО "Магистр"
      </span>
      <p style="margin: 80px 90px">
        «Магистр» сегодня – это «зона» особого внимания к старшекласснику, его социальная защита, полигон для
        творческого развития, обогащения духовного мира, интеллекта, создание условий для социализации подростка с
        учетом реалий современной жизни. <br><br> КРОМО «Магистр» — обеспечение непрерывности в работе по созданию системы социальной,
        психолого-педагогической и учебно-образовательной помощи талантливым детям
        г. Курска и Курской области, формирование у них способности и готовности к осознанному выбору будущей профессии,
        личной ответственности за этот выбор.
      </p>

    </div>
    <img src="image/magistrlogo.svg" alt="magostrlogo"
      style="width: 405px; height: 405px; margin-top: 190px; opacity: 10%;">
  </section>

</body>