{% extends 'base.html' %}
{% load static %}

{% block title %}Преимущества{% endblock %}

{% block content %}

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Преимущества </h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Преимущества моей педагогики заключаются в...</h2>
            <p class="text-body-secondary">Я преподаю информатику и свободно владею Python, а также технологиями
                веб-разработки HTML и CSS. В своей работе я совмещаю обучение программированию с созданием интерфейсов,
                помогая ученикам осваивать востребованные цифровые навыки.</p>
        </div>
        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
                        style="width: 48px; height: 48px;">
                        <img src="{% static 'images/controller.svg' %}" alt="controller" width="32px" height="32px">
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Современные технологии</h4>
                    <p class="text-body-secondary">В своем обучении я испольюзую не только учебники и методики, но и
                        игровые элементы.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
                        style="width: 48px; height: 48px;">
                        <img src="{% static 'images/bicycle.svg' %}" alt="bicycle" width="32px" height="32px">
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Занятие спортом</h4>
                    <p class="text-body-secondary">Я долго работаю за компьютером, поэтому знаю как важен спорт. Стараюсь замотивировать детей заниматься спортом.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
                        style="width: 48px; height: 48px;">
                        <img src="" alt="">
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
                        style="width: 48px; height: 48px;">
                        <svg class="bi" width="1em" height="1em" aria-hidden="true">
                            <use xlink:href="#table"></use>
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}